*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portada{
    background-color: #02A1E5;
    width: 1250px;
    height: 400px;
    display: flex;
    margin: auto;
    flex-direction: row;
}

.portada .info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.portada .img{
    width: 40%;
    background-image: url(../assets/ftxa-aw-16-9-6a.png);
    background-size: cover;
}
