@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portada{
    background-color: #02A1E5;
    width: 1500px;
    height: 400px;
    display: flex;
    margin: 200px auto 0 auto;
    flex-direction: row;
    
}

.portada .info{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Inter", serif;
}

.portada .info .titulo{
    width: 80%;
    text-align: center;
}

.portada .info .titulo h3{
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.portada .info .titulo h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
}

.portada .info .descripcion {
    width: 45%;
    text-align: center;
}

.portada .info .descripcion p{
    color: white;
    font-weight: 300;
    font-size: 22px;
}

.portada .info h2{
    color: white;
    font-weight: 900;
    font-size: 40px;
}

.portada .img{
    width: 45%;
    background-image: url(../assets/ftxa-aw-16-9-6a.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.portada .degradar{
    width: 1500px;
    height: 50px; /* Reducir la altura del degradado */
    background: linear-gradient(to bottom, rgba(2, 161, 229, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%);
    position: absolute; /* Cambiar a absolute para mantener su posición relativa al contenedor */
    bottom: 0; /* Asegurar que el degradado esté en la parte inferior del contenedor */
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: -20px; /* Ajustar la posición de las cards */
    width: 1500px;
    height: 400px;
    padding: 20px;
    z-index: 3;
    font-family: "Inter", serif;
}

.cards .card{
    width: 400px;
    height: 390px;
    background-color: white;
    margin: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3); /* Ajustar el box-shadow para que sea más sutil y notorio */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px; /* Ajustar el padding solo en los lados */
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Agregar transición para suavizar el efecto */
}

.cards .card:hover{
    transform: translateY(-0.3px); /* Mover la tarjeta hacia arriba */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Hacer la sombra más notoria */
    background-color: #f0f0f0; /* Cambiar el color de fondo */
}

.cards .card .tittleCard{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.cards .card .imgdescripcion{
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 10px;
}

.cards .card .imgdescripcion img{
    width: 60%;
    height: auto;
    object-fit: cover;
}

.cards .card .imgdescripcion p{
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    font-weight: 300;
}

.cards .card button{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #02A1E5;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.cards .card button:hover{
    background-color: #A000EA;
    transform: scale(1.05);
}

.buscador{
    width: 1500px;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

    font-family: "Inter", serif;
}

.buscador button{
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 600;
    border: #A6A6A6 1px solid;
    margin-left: 10px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
}

.buscador button:hover{
    background-color: #A6A6A6;
    color: white;
    transform: scale(1.05);
}

.buscador .search{
    width: 800px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.buscador .search input{
    width: 95%;
    height: 100%;
    border: none;
    font-size: 15px;
    font-weight: 300;
    outline: none; /* Eliminar el borde al hacer clic */
}

.buscador .search input::placeholder{
    color: #A6A6A6; /* Color del placeholder */
    font-style: italic; /* Estilo del placeholder */
    transition: color 0.3s; /* Transición para el color del placeholder */
}

.buscador .search input:focus::placeholder{
    color: #A000EA; /* Cambiar el color del placeholder al enfocar */
}

.buscador a{
    color: #02A1E5;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

.buscador a:hover{
    color: #A000EA;
    text-decoration: underline;
}




