@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* main{
    display: grid;
    place-items: center; 
    background-color: #f4f4f4;
 */

header{
    width: 100%;
    height: 80px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

header nav{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

header nav i{
    color: #02A1E5;
    font-size: 40px;
    cursor: pointer;;
    align-items: center;
    justify-content: center;
    margin: auto 30px;
}

header nav .logo img{
    width: 80%;
    margin: 20px;
    margin-left: 40px;
    align-items: center;
}


.sesion{
    width: 1116px;
    height: 550px;
    
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 5%;
}

.sesion .info{
    display: flex;
    width: 490px;
    height: 550px;
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content: space-between;
}

.sesion .info .text{
    align-items: first baseline;
    text-align: left;
    margin: 20px;
    align-items: center;
    flex-direction: column;
}

.sesion .info .text h2{
    font-family: "Inter", serif;
    color: #231F20;
    font-size: 50px;
}

.sesion .info .text p{
    font-family: "Inter", serif;
    color: #231F20;
    font-size: 30px;
}

.sesion .info .ayudas{
    margin: 20px;
}

.boton-problema {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 365px; /* Ajusta el ancho según sea necesario */
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: white;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.boton-problema:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.boton-problema:hover {
    background-color: #f5f5f5;
}

.boton-problema .icono-izquierda {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.boton-problema img {
    width: 24px; 
    height: 24px;
    margin-right: 10px;
}

.boton-problema .icono-derecha {
    color: gray;
    font-size: 18px;
}

.sesion .info .ayudas .textAyuda{
   align-items: start;
   margin-top: 9px;
   
   text-align: start;
}

.sesion .info .ayudas .textAyuda a{
    font-family: "Inter", serif;
    margin-left: 10px;
    color: #02A1E5; 
    text-decoration: none;
    font-weight: bold;
 }

 .sesion .info .ayudas .textAyuda a:hover{
    color: red;
    text-decoration: underline;
 }

 .sesion .form{
    width: 545px;
    height: 550px;
    border: 1px solid #949494;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .sesion .form form{
    flex-direction: column;
    display: flex;
    width: 80%;
    
 }

 .sesion .form form label{
    font-family: "Inter", serif;
    text-align: start;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
 }

 .sesion .form form input{
    height: 40px;
    border: 1px solid #949494;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 25px;
    letter-spacing: 0.8px;
 }

 .sesion .form form input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
}

.sesion .form form .btnContinuar{
    background-color: #02A1E5;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    font-family: "Inter", serif;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
    transition:  0.3s ease-in-out;
}

.sesion .form form .btnContinuar:hover{
    background-color: #a000ea;
    font-weight: bold;
}

.sesion .form form p{
    font-family: "Inter", serif;
    font-size: 15px;
    color: #949494;
    margin-bottom: 20px;
    font-weight: 500;
}   



 .separador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
    font-family: "Inter", serif;
}

.linea {
    flex: 1; 
    height: 2px;
    background-color: #949494; /* Color de la línea */
    margin: 0 10px;
}

.separador span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    align-items: center;
}

.sesion .form form .btnQR{
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    color: #949494;
    font-family: "Inter", serif;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #949494;
    transition:  0.3s ease-in-out;
}

.sesion .form form .btnQR:hover{
    background-color: #02A1E5;
    color: white;
    border: none;
    font-weight: bold;
}



footer{
    width: 100%;
    height: 80px;
    background-color: #02A1E5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Inter", serif;
    font-size: 15px;
}



